
*{    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    font-family: 'Overpass', sans-serif;
}
.header{
    display: flex;
}

li{
    list-style: none;
}


footer{
    text-align: center;
    padding: 10px;
}

/*パソコン向け*/
@media screen and (min-width:1025px) {
    .top{
        background: url(/home/top.png);
        height: 900px;
        background-position: center;
    }
    .header_content{
        font-size: 35px;
        margin: 30px 50px;
    }
    .header{
        margin-left: 200px;
    }
    .header_content a{
        text-decoration: none;
        color: #fff;
        border-bottom: 3px solid #fff;
    }
    .header_content a:hover{
        opacity: 0.7;
    }

}

/*タブレット向け*/
@media screen and (min-width:481px) and (max-width:1024px) {
    
}

/*スマホ向け*/
@media screen and (min-width:1px) and (max-width:480px) {
    
}