
*{    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    font-family: 'Overpass', sans-serif;
}
.header{
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


footer{
    text-align: center;
    padding: 10px;
    color: #e95383;
}

/*パソコン向け*/
@media screen and (min-width:1025px) {
    .top{
        background: url(/home/top.png);
        height: 865px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header_content{
        font-size: 35px;
        margin: 30px 50px;
    }
    .header{
        margin-left: 200px;
    }
    .header_content a{
        text-decoration: none;
        color: #fff;
        border-bottom: 3px solid #fff;
    }
    .header_content a:hover{
        opacity: 0.7;
    }
    
    .title{
        color: #fff;
        font-size: 50px;
        margin-top: 100px;
        margin-bottom: 10px;
        text-align: center;
    }
    .contact{
        width: 500px;
        padding-top: 30px;
        margin: 0 calc((100% - 500px) / 2);
    }
    .contact_li a{
        font-size: 35px;
        font-style: italic;
        color: #fff;
    }
    .contact_li a:hover{
        opacity: 0.7;
    }

}

/*タブレット向け*/
@media screen and (min-width:481px) and (max-width:1024px) {
    
}

/*スマホ向け*/
@media screen and (min-width:1px) and (max-width:480px) {
    
}